.userstorycontext {
  text-align: center;
  padding: 2px;
  border-radius: 20px;
  border: 5px solid #464797;
  width: 200px;
  float:right;
}

.userstorycontext a {
  font-family: ;
  color: #464797;
  margin: 0 15px 0 0;
}

.userstorycontext a:last-child {
  margin: 0px;
}

.edit_user_story .label:empty,
.edit_user_story .badge:empty,
.new_story_owner .label:empty,
.new_story_owner .badge:empty {
  display: block;
  border:none;
  text-shadow: none;
  vertical-align: center;
  text-align: center;
}

.edit_user_story .label:empty,
.edit_user_story .badge:empty {
  width: 90px;
}

.new_story_owner .label:empty,
.new_story_owner .badge:empty {
  width: 190px;
}

.complete {
  text-align:center;
  width: 75px;
}

.email-badge {
  vertical-align: center;
  height: 0;
  text-align: center;
}
